:root {
    box-sizing: border-box;

    --color-primary: #E33323;
    --color-grey : #404040;
    --color-black : #101010;
    --color-white : #FFFFFF;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: var(--color-grey);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1030px) {
    body{
        font-size: 1em;
    }
}

/* CONTENT
=============================== */

header{
    position: absolute;
    left: 2.2em;
    top: 2.2em;
    z-index: 1000;
}

main{
    display: flex;
    height: 100%;
}

@media (max-width: 1030px) {
    main{
        flex-direction: column;
        height: 100%;
    }
}


/* LEFT
=============================== */

.left{
    flex: 1;
    position: relative;
    height: 100%;
    background-color: var(--color-black);
}

.image{
    width: 100%;
}

.left::after{
    content: "";
    background-color: rgba(16, 16, 16, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

h1.headline{
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.1rem;
    color: var(--color-white);
    position: absolute;
    left: 0.8em;
    bottom: 0.5em;
    z-index: 1000;
}

@media (max-width: 1030px) {
    .left{
        width: 100%;
        overflow: hidden;
    }

    .headline{
        display: none;
    }

    .image{
        margin-top: -10em;
    }
}

@media (max-width: 420px) {
    .image{
        margin-top: -2em;
    }
}


/* RIGHT
=============================== */

.right{
    flex: 1;
    position: relative;
    height: 100%;
}

form{
    width: 25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 0.7em;
}

.email label,
.password label{
    display: block;
    margin-bottom: 0.6em;
}

.email input,
.password input{
    font-family: inherit;
    font-size: inherit;
    padding: 0.8em 1em;
    width: 100%;
    border: 1px rgba(16, 16, 16, 0.5) solid;
    border-radius: 0.3em;
    display: block;
}

.email input{
    margin-bottom: 1.5em;
}

.additional{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    margin: 1em 0 1.3em;
}

.checkbox{
    display: flex;
}

.checkbox input{
    display: none;
}

.checkbox--container{
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    height: 1.3em;
    width: 1.3em;

}

.checkbox--style{
    position: absolute;
    height: 1.3em;
    width: 1.3em;
    color: black;
    border: 1px solid rgba(16, 16, 16, 0.5);
    border-radius: 0.2em;
    margin-right: 0.5em;
    appearance: none;
    outline: 0;
}

.checkbox input:checked ~ .checkbox--style{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.checkbox--style::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: none;
    width: 0.4em;
    height: 0.8em;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox input:checked ~ .checkbox--style::after{
    display: block;
}

.checkbox label{
    margin-right: 0.5em;
}

.button--sign-in{
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    color: var(--color-white);
    width: 100%;
    padding: 0.9em 0;
    background-color: var(--color-primary);
    border: none;
    border-radius: 3px;
    margin-bottom: 5em;
}

.sign-up{
    text-align: center;
}

form a{
    color: var(--color-primary);
}

.sign-up a{
    font-weight: 800;
}

@media (max-width: 1030px) {
    .right{
        flex: 2;
        border-radius: 5em;
    }
}

@media (max-width: 420px) {
    form{
        width: 19em;
    }

    form h2{
        font-size: 2.2em;
    }

    .button--sign-in{
        margin-bottom: 2.5em;
    }
}